@{
    ViewBag.Title = "Contact";
}


<img src="~/img/contact.png" style="width:427px;height:328px;">
<p>Whether you want to say hi, tell us that we've made a cluck up, or even ask a question, please don't be chicken.</p>
<div class="col-md-2 col-md-offset-2">
    <div class="contact">
        <h1>Contact Us</h1>
        <p><strong>Telephone:</strong> 0800-NANDOSO (0800-6655-666)</p>
        <p><strong>Email:</strong>support@nandoso.com</p>
        <p><strong>Address:</strong>19 Rothwell Place, New Zealand</p>      
    </div>
</div>
