@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nandoso</h1>

    <p><a href="http://www.nandos.com/our-food" class="btn btn-primary btn-lg" target="_blank">Check Our Food &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Story</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Peri Peri</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Turn Up The Heat</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <a href="email.php">111</a>
</div>