@{
    ViewBag.Title = "Special";
}

<head>
    <title>Nandoso - Today's Special</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../Content/bootstrap.min.css " />
</head>
<body>

    <img src="/img/chicken.jpg" style="width:428px;height:327px;">

    <div class="special">
        <div class="container">
            <div class="col">
                <h2>Special Offer1</h2>
                <h3>$10 for 1 chicken Give this code to cashier</h3>
                <h1 style="background-color:lightgrey">XXDFC</h1>

            </div>
            <div class="col">
                <h2>Special Offer2</h2>
                <h3>$20 for 3 chickens Give this code to cashier</h3>
                <h1 style="background-color:lightgrey">ASDEF </h1>

            </div>
            <div class="col">
                <h2>Special Offer3</h2>
                <h3>$30 for 5 chickens Give this code to cashier</h3>
                <h1 style="background-color:lightgrey">SDXZD</h1>

            </div>
            <div class="col">
                <h2>Special Offer4</h2>
                <h3>$60 for 11 chickens Give this code to cashier</h3>
                <h1 style="background-color:lightgrey">SDDXD</h1>

            </div>
        </div>
    </div>
</body>
